/* 메인 박스 컴포넌트 스타일 */
.footerContainer {
  width: 80%;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777777;
  color: #000;
  /* fixed 걸어야 하는 이유 : 스크롤이 딱 떨어짐 */
  /* position: fixed; */
  bottom: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  padding: 20px 16px;
}

/* 컨테이너 컴포넌트 스타일 */
.footerContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

/* 왼쪽 섹션: 로고 및 텍스트 */
.footerLeftSection {
  display: flex;
  align-items: center;
  gap: 500px;
}

/* 로고 이미지 */
.footerLogo img {
  height: 50px;
  width: auto;
  display: block;
}

/* 푸터 텍스트 영역 */
.footerLinks {
  display: flex;
  flex-direction: column;
}

/* 푸터 텍스트 */
.footerText {
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  line-height: 1.5;
  color: #000;
  font-size: 0.7rem;
}

/* 소셜 아이콘 리스트 */
.socialIcons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

/* 소셜 아이콘 이미지 */
.socialIcons li a img {
  height: 30px;
  width: 30px;
  display: block;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.socialIcons li a img:hover {
  opacity: 1;
}

/* 화면 축소시 적용 */
@media (max-width: 768px) {
  .footerContentWrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0 16px;
  }

  .footerLeftSection {
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }

  .footerLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .socialIcons {
    justify-content: center;
  }

  .footerText {
    font-size: 0.6rem;
  }
}
