/* 메인 박스 컴포넌트 스타일 */
.footerContainer {
  width: 100dvw;
  max-width: 1280px;
  height: 10vh;
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  position: absolute;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  padding: 20px 16px;
}

/* 컨테이너 컴포넌트 스타일 */
.footerContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

/* 로고 이미지 */
.footerLogo img {
  height: 50px;
  width: auto;
  display: block;
}

/* 푸터 텍스트 영역 */
.footerLinks {
  display: flex;
  flex-direction: column;
}

/* 푸터 텍스트 */
.footerText {
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  line-height: 1.5;
  color: #000;
  font-size: 0.7rem;
}

/* 소셜 아이콘 리스트 */
.socialIcons {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

/* 소셜 아이콘 이미지 */
.socialIcons li a img {
  height: 30px;
  width: 30px;
  display: block;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.socialIcons li a img:hover {
  opacity: 1;
}

/* 화면 축소시 적용 */
@media (max-width: 768px) {
  .footerLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .socialIcons {
    justify-content: center;
  }

  .footerText {
    font-size: 0.6rem;
  }
}
