.container {
  /* padding: 1rem; */
  max-width: 36rem;
  /* margin: 0 auto; */
  margin-left: 24px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.inputGroup {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 0.5rem;
  flex: 1;
}

.button {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #2563eb;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resultItem {
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.resultDate {
  font-size: 0.875rem;
  color: #4b5563;
  margin-bottom: 0.25rem;
}

